@import "tailwindcss";
.text-stroke-white {
    -webkit-text-stroke: 4px white; /* Border thoda thick rakhein */
    color: black; /* Ya transparent agar background black hai */
}

/* Scrollbar hide karne ke liye */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
